.ChatDetail{
    padding-bottom: 90px;
}
.ChatDetail form {
    position: fixed;
    width: 100%;
    bottom: 5%;     
    left: 0;
}

.ChatDetail form input{    
    width: 83%;
    border-radius: 0;
    padding-left: 12%;
  }

  .ChatDetail time{
    text-align: right;
    display: block;
    font-style: italic;
    color: gray;
  }
